* {
    box-sizing: border-box;margin: 0;
    padding: 0;
}
body {
    font-family: 'Arial', sans-serif;
    background-color: #f0f8ff;color: #333;
    transition: background-color 0.3s, color 0.3s;
}
.container {max-width: 600px;
    margin: 50px auto;padding: 20px;background: white;border-radius: 8px;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);border-left: 5px solid #0c0c0c;
    transition: background-color 0.3s, box-shadow 0.3s;
}
h1 {margin-bottom: 10px;
    font-size: 3rem;color:cadetblue;
    margin-left: 10.9rem;
}
p {margin-bottom: 20px;color: #555;
}

.contact-form {
    display: flex;flex-direction: column;
}
label {margin-bottom: 5px;
    font-weight: bold;color: #007BFF;
}
input[type="text"],
input[type="email"],
textarea {padding: 10px;
    margin-bottom: 20px;border: 1px solid #ccc;
    border-radius: 4px;font-size: 16px;
    transition: border-color 0.3s;
}
input[type="text"]:focus,
input[type="email"]:focus,
textarea:focus {border-color: #4CAF50;
    outline: none;background-color: #e8f5e9;
}

button {padding: 10px; width: 8rem;
    color: white;border: none;
    border-radius: 4px;font-size: 16px;
    cursor: pointer;transition: background-color 0.3s ease;
}

button:hover {
    background-color: #dacfcf;
}

body.dark-mode {
    background-color: black;color: white;
}

.container.dark-mode {
    background: #2c2c2c;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.5);
    border-left: 5px solid #2a372b;
}

label.dark-mode {
    color: #1c454c;
}

input[type="text"].dark-mode,
input[type="email"].dark-mode,
textarea.dark-mode {border: 1px solid #555;background-color: #444;color: #f0f0f0;
}

.switch {
    position: relative;display: inline-block;
    width: 60px;height: 34px;margin: 20px 0;
}

.switch input {opacity: 0;
    width: 0;height: 0;
}

.slider {
    position: absolute;
    cursor: pointer;top: 0;left: 0;right: 0;bottom: 0;
    background-color: #ccc;transition: .4s;border-radius: 34px;}

.slider:before {position: absolute;
    content: "";height: 26px;width: 26px;
    left: 4px;bottom: 4px;
    background-color: white;transition: .4s;border-radius: 50%;
}

input:checked + .slider {
    background-color: cadetblue;
}

input:checked + .slider:before {
    transform: translateX(26px);
}

p{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    margin-left: 3rem;}

button{
    background-color: #ffffff;
    border: solid black;
    color: #0c0a0a}

#theme-toggle{
    margin-left: 87rem;
    margin-top: 1.5rem;margin-right: 1rem;
    font-size: 0.8rem;border-radius: 8rem;}
.na{
    margin-left: 41%;}

.terug {
    margin-left: 2rem;
    margin-top: 2rem;
    color: #007BFF}

@media screen and(min-width: 200px) and(max-width: 300px){
#theme-toggle{margin-left: 10px;}
.terug{color: #ff66cc;}


}